<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if check_admin? user %>
    |<%= link_to t("users.delete"), user, method: :delete,
      data: { confirm: t("other.are_u_sure") } %> 
  <% end %>
</li>
